extends ../shared/template

block content
    .testreg.hide
    .login-form-reg.hide
      form(action='/register', method='post', enctype='multipart/form-data')
        fieldset
          legend Register
          label Enter Name
          input(type='text', name='name')
          label Enter email
          input(type='email', name='email')
          label Enter Password
          input(id='pw', type='password', name='password')
          label Retype Password
          input(id='pwcon', type='password')
          label Profile Picture
          input(type='file', name='pic')
          button.tiny.radius.registerButton Register
